body {
  font-family: sans-serif;
  text-align: center;
  background: #111;
  color: white;
}

.game-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.game-card {
  background: #222;
  padding: 20px;
  border-radius: 10px;
}

a {
  display: inline-block;
  margin-top: 10px;
  background: limegreen;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}
